{% extends 'intro/navigation.html' %}
{% block title %} Add to Diary{% endblock %}


{% block body %}
<div class = "row text-center diary_input">
  <button class = "btn btn-info"><a href="{% url 'diary:meal_input' %}">Record Meals</a></button>
  </div>

<div class = "row text-center diary_input">
  <button class = "btn btn-info"><a href="{% url 'diary:movement_input' %}">Record Activites</a></button>
  </div>

<div class = "row text-center diary_input">
  <button class = "btn btn-info"><a href="{% url 'diary:condition_input' %}">Record Condition</a></button>
  </div>



{% endblock %}