{% extends 'intro/navigation.html' %}
{% block title %} Blog {% endblock %}
{% block body %}


  <div class = 'text-center'>
    <h1>{{ post_title }}</h1>
  </div>
  
        <h2>Create on {{ post_date|date:"Y-m-d" }} by {{ post_user }} </h2>
 <div class = "postBody">
     {{ post_body}}
     
 </div>
  
 <div class = "comments">
     {% if all_comments %}
   <h4> Comments</h4>
   <ul>
   
   {% for comment in all_comments %}
   <li>{{ comment}}</li>
   {% endfor %}
   </ul>
   {% else %}
     <h4>Be the first to comment</h4>
  {% endif %}
 </div>

{% endblock %}